
.App {
  display: grid;
  justify-items: center;
}

.header {
  font-size: 1.5rem;
  color: royalblue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.characterName {
  transform: rotate(-45deg);
  grid-row: 1 / 5;
  letter-spacing: 1em;
  text-transform: uppercase;
  border: 1px solid royalblue;
  border-radius: 5px;
  background-color: royalblue;
  color: aliceblue;
  align-self: center;
  justify-self: center;
  padding: 5px;
  
}

.imageContainer {
  grid-column: 2 / 4;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.profile {
  font-size: 1.2rem;
  grid-column: 2 / 4;
  border: 2px solid blue;
  background: green;
}

.navigation {
  grid-column: 2 / 4;
  justify-self: center;
  align-self: center;
}

.materials-icons, .backArrow, .forwardArrow {
  font-size: 50px;
}

div .profile, .tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2px;
  color: aliceblue;
  background-color: royalblue;
  border: 1px solid royalblue;
  padding: 3px;
}



