
.App {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #293241;
  grid-gap: 10px;
  max-width: 980px;
  margin: 0 auto;
}

.header h1 {
  font-size: 2.0rem;
  font-family: 'Permanent Marker', cursive;
}

.ui.segment {
  border: none;
  background-color:  #293241;
}

.ui.active.dimmer {
  margin-top: 50px;
  color: yellowgreen;
  background-color:  #293241;
}

ui.massive.text.loader::after {
  color: yellowgreen;
}

.ui.large.text.loader{
  font-family: 'Permanent Marker', cursive;
  color: yellowgreen;
}

.characterName {
  letter-spacing: 1em;
  text-transform: uppercase;
  border: 1px solid royalblue;
  border-radius: 5px;
  background-color: royalblue;
  color: aliceblue;
  padding: 5px;
  font-family: 'Fruktur', cursive;
  
}

.imageContainer {
  border-radius: 10px;
}

.imageContainer img {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}

.profile {
  font-size: 1.2rem;
  border: 2px solid blue;
  background: green;
}

.navigation {
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-items: center;
}

.fetchNew {
  align-self: center;
  justify-self: center;
}

.fetchNew button {
  border: none;
  font-family: 'Permanent Marker', cursive;
  color: black;
  background-color: greenyellow;
  padding: 5px;
  border-radius: 5px;
}

.fetchNew button:hover {
  cursor: pointer;
}

.materials-icons, .backArrow, .forwardArrow {
  font-size: 50px;
}

.materials-icons, .backArrow, .forwardArrow:hover {
  cursor: pointer;
}


div .profile, .tab {
  margin: 2px;
  color: aliceblue;
  background-color: royalblue;
  border: 1px solid royalblue;
  padding: 3px;
  border-radius: 10px;
}

.tab-1, .label-1 {
  background-color: magenta;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover, .tab-4:hover, .tab-5:hover {
  transform: scale(0.95);
}

.tab-1, .tab-2, .tab-3, .tab-4, .tab-5, .tab-6 {
  padding: 5px;
  color: black;
  font-family: 'Fruktur', cursive;
  border-radius: 5px;
}

.tab-2, .label-2 {
  background-color: red;
}

.tab-3, .label-3 {
  background-color: orange;
}

.tab-4, .label-4 {
  background-color: greenyellow;
}

.tab-5, .label-5 {
  background-color: cyan;
}

.label-1, .label-2, .label-3, .label-4, .label-4, .label-5 {
  font-family: 'Fruktur', cursive;
  color: black;
}



