
.App {
  display: grid;
  max-width: 980px;
  justify-items: center;
}

.header {
  font-size: 1.5rem;
  color: royalblue;
  font-family: 'Permanent Marker', cursive;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.characterName {
  grid-row: 1 / 5;
  letter-spacing: 1em;
  text-transform: uppercase;
  border: 1px solid royalblue;
  border-radius: 5px;
  background-color: royalblue;
  color: aliceblue;
  align-self: center;
  justify-self: center;
  padding: 5px;
  font-family: 'Fruktur', cursive;
  
}

.characterName:hover {
  transform: rotate(-45deg);
}

.imageContainer {
  grid-column: 2 / 4;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.imageContainer img {
  border-radius: 50%;
}

.profile {
  font-size: 1.2rem;
  grid-column: 2 / 4;
  border: 2px solid blue;
  background: green;
}

.navigation {
  grid-column: 2 / 4;
  justify-self: center;
  align-self: center;
}

.materials-icons, .backArrow, .forwardArrow {
  font-size: 50px;
}

div .profile, .tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2px;
  color: aliceblue;
  background-color: royalblue;
  border: 1px solid royalblue;
  padding: 3px;
  border-radius: 10px;
}

.tab-1 {
  background-color: magenta;
}

.tab-1, .tab-2, .tab-3, .tab-4, .tab-5 {
  justify-self: center;
  align-self: center;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover, .tab-4:hover, .tab-5:hover {
  transform: scale(0.95);
}

.tab-1, .tab-2, .tab-3, .tab-4, .tab-5, .tab-6 {
  padding: 5px;
  color: black;
  font-family: 'Fruktur', cursive;
  border-radius: 5px;
}

.tab-2 {
  background-color: red;
}

.tab-3 {
  background-color: orange;
  grid-column: 1 / 3;

}

.tab-4 {
  background-color: greenyellow;
}

.tab-5 {
  background-color: cyan;
}

.label-1, .label-2, .label-3, .label-4, .label-4, .label-5 {
  
}



